<html>

<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/account.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    <link rel="icon" href="../img/Createe.jpg">
    <meta charset="UTF-8">
    <meta name="description" content="Korex hospital ">
    <meta name="keywords"
        content="hospital,Korex,korexhospital, Medical, Health, Healthcare, Doctor, Clinic, Care, Hospital,korex">
    <meta name="author" content="Agboola Akorede Ibrahim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

</head>

<body>
    <%- include(`partials/links`); -%>

        <div class="contact-container">

            <div class="header">
                <img class="appoint-contentimage" src="../img/pexels-gus.jpg" />
                <div class="appoint-content2">
                    <div class="appoint-content3">
                        <h2 class="appoint-contenttopic1">Contact</h2>
                        <div class="appoint-contenttopic2"><a href="/" style="color: black;"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 20" width="20" height="20">
                                    <path
                                        d="M19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001C20 20.5524 19.5523 21.0001 19 21.0001ZM6 19.0001H18V9.15757L12 3.70302L6 9.15757V19.0001ZM9 10.0001H15V16.0001H9V10.0001ZM11 12.0001V14.0001H13V12.0001H11Z"
                                        fill="#0057b8" />
                                    </path>
                                </svg> Home</a><span class="appoint-contenttopic3"> / Contact</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="main-contact">

                <div class="contactconent2">
                    <h4 class="contactconenttopic">Have a Question? We Review and Accept Patients Requests on 24/7
                        Basis.
                    </h4>
                    <div class="contactconentbox1">
                        <h5 class="contactconenttopic1">Ikeja</h5>

                        <p class="contactconenttopic2">3 Anifowose Str,</p>
                        <p class="contactconenttopic2">Lagos Nigeria</p>
                        <p class="contactconenttopic2">Phone: 2347033731378</p>
                        <p class="contactconenttopic2">Email: <a href="#hello"
                                style="color:#0074d9;text-decoration:none;">hello@yourdomain.com</a></p>

                    </div>
                    <div class="contactconentbox2">
                        <h5 class="contactconenttopic1">Abuja</h5>
                        <p class="contactconenttopic2">121 King Street, </p>
                        <p class="contactconenttopic2">Abuja Nigeria</p>
                        <p class="contactconenttopic2">Phone: 2347033731378</p>
                        <p class="contactconenttopic2">Email: <a href="#hello"
                                style="color:#0074d9;text-decoration:none;">hello@yourdomain.com</a></p>

                    </div>
                    <div class="contactconentbox3">
                        <h5 class="contactconenttopic1">Ibadan</h5>
                        <p class="contactconenttopic2">121 King Anu, </p>
                        <p class="contactconenttopic2">Ibadan Nigeria</p>
                        <p class="contactconenttopic2">Phone: 2347033731378</p>
                        <p class="contactconenttopic2">Email: <a href="#hello"
                                style="color:#0074d9;text-decoration:none;">hello@yourdomain.com</a></p>

                    </div>
                    <div class="contactconentbox4">
                        <h5 class="contactconenttopic1">Ghana</h5>
                        <p class="contactconenttopic2">121 King Street,</p>
                        <p class="contactconenttopic2">Accra Ghana</p>
                        <p class="contactconenttopic2">Phone: 2347033731378</p>
                        <p class="contactconenttopic2">Email: <a href="#hello"
                                style="color:#0074d9;text-decoration:none;">hello@yourdomain.com</a></p>

                    </div>



                </div>
                <div class="contactconent3">
                    <div class="contactconent3-formholder">
                        <form action="/contactusPagePost" method="post">
                            <%- include (`partials/messages`); -%>
                                <br><input type="text" class="contact-form-input" name="fname"
                                    placeholder="Enter Your Fullname" required><br>

                                <br><input type="email" class="contact-form-input" name="email"
                                    placeholder="Enter Full Email" required><br>


                                <br><input type="text" class="contact-form-input" name="pn"
                                    placeholder="Enter Your Phone Number" required><br>


                                <% let visitBefore=["New Patient", "Returning Patient" , "Others" ] %>


                                    <br>
                                    <select class="contact-form-input" name="visitb">

                                        <option value="">Have You Visited Us Before? </option>

                                        <% visitBefore.forEach((so)=> { %>
                                            <option value="<%- so %>"><%- so %></option>

                                            <% }) %>

                                    </select><br>

                                    <br><input type="text" class="contact-form-input" name="topic"
                                        placeholder="Subject*" required><br>

                                    <br><textarea class="contact-form-input" name="mesg" style="height:150;"
                                        maxlength="250">Your Message...</textarea><br>

                                    <br><button class="contact-form-btn">Send Your Message</button>


                        </form>


                    </div>


                </div>


            </div>
            <%- include(`partials/footer`); -%>


        </div>


        <script type="text/javascript" src="../js/snow.js">



        </script>

</body>

</html>