<html>

<head>
    <title>Home Page</title>
    <link rel="icon" href="../img/Createe.jpg">
    
    <meta charset="UTF-8">
    <meta name="description" content="Korex hospital ">
    <meta name="keywords"
        content="hospital,Korex,korexhospital, Medical, Health, Healthcare, Doctor, Clinic, Care, Hospital,korex">
    <meta name="author" content="Agboola Akorede Ibrahim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

           <!-- CSS STYLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../admin/css/style.css">
    <link rel="stylesheet" href="../admin/css/stylesheet.css">
    <link rel="stylesheet" href="../admin/css/social.css">
    <link rel="stylesheet" href="../css/style.css">
         <!-- END OF CSS  -->

    <!--  TO SLIDE IMAGE -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script> 
    <script src="../js/bootstrap.js"></script>
    <script src="../js/slideScript.js"></script>

    <!-- Owl stylesheet -->
    <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../owl-carousel/owl.theme.css">
    <script src="../owl-carousel/owl.carousel.js"></script>
    <!-- Owl stylesheet -->

    <!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="../slitslider/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../slitslider/css/custom.css" />
    <script type="text/javascript" src="../slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="../slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="../slitslider/js/jquery.slitslider.js"></script>

    <!-- slitslider -->

</head>

<body>
    <%- include(`partials/links`); -%>

    <div class="">
    

        <div id="slider" class="sl-slider-wrapper">
    
            <div class="sl-slider">
            
              <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner">
                  <div class="bg-img bg-img-1" loading="lazy"></div>
                  <h2>Our strenght is your well-being</h2>
                </div>
              </div>
              
              <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                <div class="sl-slide-inner">
                  <div class="bg-img bg-img-2" loading="lazy"></div>
                </div>
              </div>
              
              <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner">
                  <div class="bg-img bg-img-3" loading="lazy"></div>
                  <h2>Our strenght is your well-being.</h2>
                </div>
              </div>
              
              <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner" loading="lazy">
                  <div class="bg-img bg-img-4"></div>
                </div>
              </div>
              
            </div><!-- /sl-slider -->
    
    
    
            <nav id="nav-dots" class="nav-dots">
              <span class="nav-dot-current"></span>
              <span></span>
              <span></span>
              <span></span>
              <!-- <span></span> -->
            </nav>
    
        </div><!-- /slider-wrapper -->
    </div>

    

    <div class="container">        
            <div class="article">


                <div class="hospotalholder1">
                    <img class="firstcontent-1" src="../img/pexels-gustavo-frin.jpg">
                    <p>
                    <h2 class="Emergencyword">Highest Quality Care</h2>Highest quality care is not merely a concept; it
                    is a sublime symphony of expertise, compassion, and innovation that harmonizes to create an
                    unparalleled experience for patients and their families.</p>

                </div>
                <div class="hospotalholder2">
                    <img class="firstcontent-2" src="../img/pexels-thirdma.jpg" />
                    <p>
                    <h2 class="Emergencyword">Emergency Department</h2>The Emergency Department knows no boundaries of
                    time. It thrives in the darkest hours of the night when the world sleeps, serving as a beacon of
                    light for those in need. It remains steadfast during holidays, celebrations, and the quietest
                    moments, always prepared for the unexpected.</p>
                </div>
                <span class="hospotalholder3">
                    <br>Working Time<br>
                    <span class="worktime"><br>Mon - Wed </span><span class="timeing" style="margin-left:30PX;"> 7:00AM
                        -
                        11:00PM</span><br>
                    <HR><br>
                    <span class="worktime"><br>Thursday </span><span class="timeing" style="margin-left:42PX;"> 8:00 AM
                        -
                        11:30 PM</span><br>
                    <HR><br>
                    <span class="worktime"><br>Fri - Sat </span><span class="timeing" style="margin-left:49PX;"> 8:00 AM
                        -
                        11:00 PM</span><br>
                    <HR><br>
                    <span class="worktime"><br> Sun - Sun </span><span class="timeing" style="margin-left:35PX;"> 12:00
                        PM
                        - 9:00 PM</span>

                </span>

            </div>

            <div class="main">

                <img class="secondcontent-1" src="../img/cheerful-co.jpg" />

                <div class="secondcontent-2">
                    <h1 class="secondcontent-words">Welcome to KorexService</h1>
                    <h3 class="secondcontent-words2">Complete Medical Solutions in One Place</h3>

                    <p class="secondcontent-words3">Medical solutions serve as beacons of hope, reminding us that human
                        ingenuity knows no bounds when it comes to conquering disease, improving health outcomes, and
                        enhancing the well-being of individuals and communities. They embody the spirit of perseverance,
                        collaboration, and innovation that lies at the heart of healthcare, offering a glimpse into a
                        future
                        where health and healing are within reach for all.</p><br>
                    <p class="secondcontent-words4">
                        Agboola Akorede Ibrahim, Head of Clinic.

                    </p>


                </div>

            </div>
           

            <div class="figure-child">
                <div class="fourthcontent-1">
                    <img src="../img/ope_114.jpg" alt="portraitafricanmeri"
                        style="width:360px;height:540px;opacity: 0.2;float:left;" />
                    <div class="contentts">
                        <span class="fourthcontenttopic">WHY CHOOSE US</span>
                        <h2 class="fourthcontenttopic2">Our hospital has professional doctors who provide low cost 24
                            hours
                            service</h2>

                        <div class="fourthcontent-1word">
                            <div class="fourthcontentcirecle1">1</div>
                            <p class="fourthcontentline"></p>
                            <div class="fourthcontentcirecle2">2</div>
                            <p class="fourthcontentline2"></p>
                            <div class="fourthcontentcirecle3">3</div>
                            <div class="fourthcontentword1">
                                <h3 class="fourthcontenttopic3">Modern Technology</h3>
                                <h1 class="flipword-child ">Hospital modern technology offers numerous benefits that
                                    greatly
                                    enhance healthcare delivery and patient outcomes.</h1>
                            </div>
                            <div class="fourthcontentword2">
                                <h3 class="fourthcontenttopic3">Professional Doctors</h3>
                                <h1 class="flipword-child ">Professional doctors bring numerous benefits to healthcare
                                    and
                                    patient
                                    well-being.</h1>
                            </div>
                            <div class="fourthcontentword3">
                                <h3 class="fourthcontenttopic3">Affordable Price</h3>
                                <h1 class="flipword-child ">accessibility to healthcare and allows a larger portion of
                                    the
                                    population to receive the medical services they need.</h1>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="fourthcontent-2">
                    <img class="fourthcontent-image" src="../img/multiracial-.jpg" />



                    <div class="fourthcontent-2word"><br>
                        <svg width="71" height="55" class="svgs" viewBox="0 0 71 55" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0625 13.2036C10.7641 13.2036 10.0919 14.3037 9.71876 15.5474L6.20313 27.2662L1.51561 31.9538L1.51563 															                															                41.3288H27.2969V13.2036H12.0625Z"
                                fill="#F1F5F8" />
                            <path d="M22.6094 17.8867V27.2663H11.1035L13.9142 17.8867H22.6094Z" fill="#0057B8" />
                            <path d="M69.4844 41.3289H1.51566V46.0163H69.4844V41.3289Z" fill="#0057B8" />
                            <path
                                d="M8.54688 46.0163C8.54688 49.8996 11.6949 53.0476 15.5781 53.0476C19.4614 53.0476 22.6094 49.8996 22.6094 															                46.0163C22.6094 42.1331 19.4614 38.9851 15.5781                                                          38.9851C11.6949 38.9851 8.54688 42.1331 8.54688 46.0163Z"
                                fill="white" />
                            <path
                                d="M13.2344 46.0164C13.2344 47.3108 14.2837 48.3602 15.5782 48.3602C16.8726 48.3602 17.9219 47.3108 17.9219 46.0164C17.9219 44.722 16.8726 43.6726 15.5782 43.6726C14.2838 43.6726 13.2344 44.722 13.2344 46.0164Z"
                                fill="#F1F5F8" />
                            <path
                                d="M67.1406 6.17261H29.6406C28.3422 6.17261 27.2969 7.21795 27.2969 8.51639V41.329H69.4844V8.51639C69.4844 7.21795 68.4391 6.17261 67.1406 6.17261Z"
                                fill="#F1F5F8" />
                            <path
                                d="M48.3906 46.0163C48.3906 49.8996 51.5386 53.0476 55.4218 53.0476C59.3051 53.0476 62.4531 49.8996 62.4531 46.0163C62.4531 42.1331 59.3051 38.9851 55.4218 38.9851C51.5386 38.9851 48.3906 42.1331 48.3906 46.0163Z"
                                fill="white" />
                            <path
                                d="M53.0781 46.0164C53.0781 47.3108 54.1274 48.3602 55.4219 48.3602C56.7162 48.3602 57.7656 47.3108 57.7656 46.0164C57.7655 44.722 56.7162 43.6726 55.4219 43.6726C54.1275 43.6726 53.0781 44.722 53.0781 46.0164Z"
                                fill="#F1F5F8" />
                            <path
                                d="M17.9219 8.51636C16.6234 8.51636 15.5781 9.56174 15.5781 10.8601V13.2039H20.2656V10.8601C20.2656 9.56174 19.2203 8.51636 17.9219 8.51636Z"
                                fill="#FF6B6B" />
                            <path
                                d="M50.7344 16.7195V21.4071H55.4219V26.0945H50.7344V30.7821H46.0469V26.0945H41.3594V21.4071H46.0469V16.7195H50.7344Z"
                                fill="#FF6B6B" />
                            <path
                                d="M19.096 1.48732V3.83327C19.1315 5.43086 16.7168 5.43086 16.7523 3.83327V1.48732C16.7523 -0.124884 19.096 -0.0596869 19.096 1.48732ZM24.7952 3.64106L23.6279 5.67586C22.8544 7.07064 20.7712 5.86496 21.5954 4.49937L22.7627 2.46471C23.5031 1.17424 25.601 2.2365 24.7952 3.64106ZM13.0742 2.46471L14.2506 4.49937C15.0745 5.86474 12.9917 7.07033 12.2181 5.67586L11.0508 3.64106C10.274 2.28694 12.3107 1.14421 13.0742 2.46471ZM67.1406 5.00057C69.068 5.00057 70.6562 6.58886 70.6562 8.51625V41.3288V46.0163C70.6562 46.6635 70.1316 47.1881 69.4844 47.1882H63.5335C62.9577 51.1512 59.5361 54.2217 55.4196 54.2217C51.303 54.2217 47.8893 51.1512 47.3149 47.1882H27.2969C25.7122 47.2103 25.7122 44.822 27.2969 44.8444H47.3126C47.884 40.8792 51.3006 37.8109 55.4196 37.8109C57.6448 37.8109 59.6663 38.7093 61.1485 40.1568H68.3125V8.51625C68.3125 7.84678 67.8101 7.34435 67.1406 7.34435H29.6406C28.9711 7.34435 28.4688 7.84678 28.4688 8.51625V36.6413C28.4909 38.226 26.1026 38.226 26.125 36.6413V14.378H12.0625C11.3913 14.378 11.041 15.2208 10.8426 15.8817L7.32236 27.605C7.26624 27.791 7.16477 27.9603 7.02707 28.0971L2.68519 32.4389V40.1568H9.84919C11.3293 38.7093 13.3483 37.8109 15.5735 37.8109C17.7988 37.8109 19.8225 38.7093 21.3047 40.1568H44.875C46.4599 40.1347 46.4599 42.5231 44.875 42.5006H22.9779C23.4884 43.5674 23.7835 44.7543 23.7835 46.0117C23.7835 50.5283 20.0901 54.2217 15.5735 54.2217C11.4569 54.2217 8.04319 51.1513 7.46883 47.1882H1.5156C0.868416 47.1881 0.343803 46.6635 0.343727 46.0163V41.3333H0.341385V31.9561C0.341446 31.6443 0.465843 31.3452 0.686989 31.1253L5.16852 26.6437L8.59259 15.2087C9.16394 13.3007 10.2945 12.0342 12.0624 12.0342H14.4062V10.8554C14.4062 8.92801 15.9922 7.34435 17.9196 7.34435C19.847 7.34435 21.4398 8.92805 21.4398 10.8554V12.0342H26.125V8.51625C26.125 6.58886 27.7132 5.00057 29.6406 5.00057H67.1406ZM17.9196 9.68814C17.2501 9.68814 16.7523 10.1859 16.7523 10.8554V12.0342H19.096V10.8554C19.096 10.1859 18.5891 9.68814 17.9196 9.68814ZM50.7298 15.5453C51.3814 15.5415 51.911 16.07 51.9085 16.7217V20.2327H55.4196C56.0712 20.2303 56.5998 20.7598 56.596 21.4114V26.0898C56.5984 26.7405 56.0703 27.2687 55.4196 27.2663H51.9085V30.7796C51.9109 31.4313 51.3814 31.9599 50.7298 31.9561H46.0515C45.4007 31.9586 44.8725 31.4304 44.875 30.7796V27.2663H41.3617C40.7109 27.2687 40.1827 26.7405 40.1852 26.0898V21.4114C40.1817 20.7598 40.71 20.2303 41.3617 20.2327H44.875V16.7217C44.8727 16.0709 45.4007 15.5428 46.0515 15.5453H50.7298ZM22.6071 16.7126C23.2578 16.7101 23.786 17.2382 23.7835 17.889V27.2663C23.7812 27.9134 23.2543 28.436 22.6071 28.4336H11.1012C10.3184 28.4334 9.75579 27.6806 9.97738 26.9298L12.7881 17.5525C12.9354 17.0536 13.394 16.7116 13.9142 16.7126H22.6071ZM49.5625 17.889H47.2187V21.4114C47.2164 22.055 46.6951 22.5761 46.0515 22.5787H42.529V24.9225H46.0515C46.6951 24.925 47.2162 25.4462 47.2187 26.0898V29.6123H49.5625V26.0898C49.5648 25.4462 50.0862 24.925 50.7298 24.9225H54.2523V22.5787H50.7298C50.0862 22.5761 49.5651 22.055 49.5625 21.4114V17.889ZM21.4398 19.0563H14.7885L12.6759 26.0898H21.4398V19.0563ZM22.6071 30.7796C24.2046 30.7442 24.2046 33.1589 22.6071 33.1234H20.2633C18.7351 33.088 18.7351 30.8136 20.2633 30.7796H22.6071ZM55.4196 40.1568C52.1697 40.1568 49.5625 42.7618 49.5625 46.0117C49.5625 49.2616 52.1697 51.8779 55.4196 51.8779C58.6695 51.8779 61.2858 49.2616 61.2858 46.0117C61.2858 42.7618 58.6695 40.1568 55.4196 40.1568ZM15.5735 40.1568C12.3236 40.1568 9.71875 42.7618 9.71875 46.0117C9.71875 49.2616 12.3236 51.8779 15.5735 51.8779C18.8235 51.8779 21.4398 49.2616 21.4398 46.0117C21.4398 42.7618 18.8235 40.1568 15.5735 40.1568ZM68.3125 42.5006H62.8239C63.1729 43.23 63.4162 44.0168 63.5357 44.8444H68.3125V42.5006ZM55.4196 42.5006C57.3473 42.5006 58.9397 44.084 58.9398 46.0117C58.9398 47.9394 57.3473 49.5343 55.4196 49.5343C53.4918 49.5343 51.9085 47.9395 51.9085 46.0117C51.9085 44.0839 53.4919 42.5006 55.4196 42.5006ZM15.5735 42.5006C17.5013 42.5006 19.096 44.084 19.096 46.0117C19.096 47.9394 17.5013 49.5343 15.5735 49.5343C13.6458 49.5343 12.0625 47.9394 12.0625 46.0117C12.0625 44.0839 13.6458 42.5006 15.5735 42.5006ZM8.17839 42.5006H2.6875V44.8444H7.46655C7.58583 44.0166 7.82991 43.2302 8.17839 42.5006ZM55.4196 44.8444C54.7585 44.8444 54.2523 45.3506 54.2523 46.0117C54.2523 46.6727 54.7585 47.1905 55.4196 47.1905C56.0806 47.1905 56.596 46.6727 56.596 46.0117C56.596 45.3506 56.0806 44.8444 55.4196 44.8444ZM15.5735 44.8444C14.9124 44.8444 14.4063 45.3506 14.4063 46.0117C14.4063 46.6728 14.9124 47.1905 15.5735 47.1905C16.2346 47.1905 16.7523 46.6728 16.7523 46.0117C16.7523 45.3506 16.2346 44.8444 15.5735 44.8444Z"
                                fill="#091C47" />
                        </svg>
                        <div class="fourthcontent-3word">24/7 Hours Service<br><a
                                class="fourthcontent-4word">+2347033731378</a></div>

                    </div>

                </div>


            </div>

           
            <div class="properties-listing spacer" style="margin-top: 30px;"> 
                <div class="fifthcontent2">
                    <h1>OUR SPECIALISTS</h1>
                </div>
                <h2 class="fifthcontent3">We have all the professional specialists in our hospital</h2>
                <div id="owl-example" class="owl-carousel">
                    <% ourDoctors.forEach((result) => { %>
                        <div class="properties">
                            <div class="image-holder">
                              <img  class="doctorImages" src="data:<%= result.image.contentType %>;base64,<%= result.image.data.toString('base64') %>" alt="Profile">
                              
                            </div>
                            <div class="fifthcontenttopicholder">
                                <a href="/frontend/ourdoctors" class="fifthcontenttopic"><%= result.flname %></a><br><span
                                    class="fifthcontenttopic2"><%= result.specialty %></span>
                            </div>
                        
                        </div>
                    <% })%>
                </div>
            
            </div>

            <div class="article-counting">
                <div class="seventhcontent1">

                    <section>
                        <div class="flex-containerrs">
                            <img src="../img/cardiologyy.png" class="seventhcontenttopic1">
                            <div class="number-container">
                                <span class="count-number">1200</span>

                            </div>
                            <span class="seventhcontenttopic">Happy Patients</span>
                        </div>

                    </section>

                </div>
                <div class="seventhcontent2">
                    <section>
                        <div class="flex-containerrs">
                            <img src="../img/doctor.png" class="seventhcontenttopic1">
                            <div class="number-container">
                                <span class="count-number">59</span>

                            </div>
                            <span class="seventhcontenttopic">Qualified Doctors</span>
                        </div>

                    </section>


                </div>
                <div class="seventhcontent3">
                    <section>
                        <div class="flex-containerrs">
                            <img src="../img/hospital-bed.png" class="seventhcontenttopic1">
                            <div class="number-container">
                                <span class="count-number">78</span>

                            </div>
                            <span class="seventhcontenttopic">Clinic Rooms</span>
                        </div>

                    </section>

                </div>
                <div class="seventhcontent4">
                    <section>
                        <div class="flex-containerrs">
                            <img src="../img/placeholder.png" class="seventhcontenttopic1">
                            <div class="number-container">
                                <span class="count-number">109</span>

                            </div>
                            <span class="seventhcontenttopic">Local Partners</span>
                        </div>

                    </section>

                </div>



                <script src="../js/script.js"></script>


            </div>
            <div class="main-article">
                <img class="eightcontent1" src="../img/pexels-thirdma.jpg" />
                <div class="eightcontent2">
                    <div class="eightcontenttopic">
                        <span class="eightcontenttopic1">OUR CLIENTS</span><br>
                        <span class="eightcontenttopic2">Our happy clients say about us</span>
                    </div>
                    <div class="item-1"><img class="eightcontentimage1"  src="../img/pexels-monsterp.jpg" loading="lazy">
                        <span class="eightcontenttopic3">Lola Richards </span>
                        <div class="eightcontenttopic4">Patient</div>
                        <svg width="66" height="41" class="svgicon" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961   44.1768V50.4268C23.8086      50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#0057B8" />
                        </svg>
                        <p class="eightcontenttopic5">
                            "Dear Korex Hospital Administration,I hope this Feedback finds you well. I am writing to
                            express
                            my heartfelt gratitude for the exceptional care and service I received during my recent
                            treatment at Korex Hospital. I believe it is crucial to acknowledge and appreciate the
                            efforts
                            of the dedicated medical professionals and staff who made my experience truly remarkable."
                        </p>
                    </div>
                    <div class="item-2"><img class="eightcontentimage2" src="../img/pexels-cotto.jpg">
                        <span class="eightcontenttopic3">Jamal Ibrahim </span>
                        <div class="eightcontenttopic4">Patient</div>
                        <svg width="66" height="41" class="svgicon" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961   44.1768V50.4268C23.8086      50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#0057B8" />
                        </svg>
                        <p class="eightcontenttopic5">
                            "From the moment I entered Korex Hospital, I was greeted with warmth and compassion. The
                            reception staff demonstrated exceptional professionalism and efficiency, ensuring a smooth
                            and
                            hassle-free registration process. The waiting area was comfortable, clean, and
                            well-maintained,
                            creating a calming environment during a potentially stressful time."
                        </p>
                    </div>
                    <div class="item-3"><img class="eightcontentimage3" src="../img/pexels-andrea-piacqu.jpg">
                        <span class="eightcontenttopic3">Samuel Josh </span>
                        <div class="eightcontenttopic4">Patient</div>
                        <svg width="66" height="41" class="svgicon" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961   44.1768V50.4268C23.8086      50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#0057B8" />
                        </svg>
                        <p class="eightcontenttopic5">
                            "My interactions with the medical team, including doctors, nurses, and technicians, were
                            truly
                            outstanding. They exhibited a high level of expertise, displaying comprehensive knowledge
                            and
                            expertise in their respective fields. Their willingness to listen, address my concerns, and
                            provide clear explanations throughout my treatment journey was commendable. which
                            significantly
                            contributed to my overall peace of mind."
                        </p>
                    </div>
                </div>

            </div>
            <div class="main-senior">
                <div class="flex-containers">
                    <p class="ninecontenttopic">Our Stories, Tips & Latest News</p>

                    <div class="ninecontent1">
                        <img class="ninecontentimage1" src="../img/mrictscan.jpg">
                        <div class="content">
                            <h1 class="ninecontenttopic1">
                                <a href="#ninecontent">Benefits of MRI

                            </h1>
                            </a>
                            <div class="ninecontenttopic2">May 03, 2022 by Dr.William Benson</div>

                        </div>

                    </div>
                    <div class="ninecontent2">
                        <img class="ninecontentimage2" src="../img/useurmed.jpg">
                        <div class="content">
                            <h1 class="ninecontenttopic1"><a href="#ninecontent">Benefits Of Integrative Medicine</h1>
                            </a>
                            <div class="ninecontenttopic2">Apr 28, 2022 by Dr.Lola George</div>

                        </div>

                    </div>
                    <div class="ninecontent3">
                        <img class="ninecontentimage3" src="../img/checkingbp.jpg">
                        <div class="content">
                            <h1 class="ninecontenttopic1"><a href="#ninecontent">Your Health Is In Your Hands</h1></a>
                            <div class="ninecontenttopic2">Apr 17, 2022 by Dr.Kelvin Sam</div>

                        </div>


                    </div>

                </div>

            </div>
           

                                                 <!-- FOOTER -->

        </div>
          <div class="tencontent">
                <img class="tencontentimage" src="../img/doctorsday.jpg" />
                <div class="tencontent1">
                    <img class="tencontentimage1" src="../img/sign.png">

                    <h1 class="tencontenttopic">Take the First Step to Help</h1>
                    <h3 class="borderbottom"></h3>
                    <h4 class="tencontenttopic2">Call KorexService Clinic Now</h4>
                    <h2 class="tencontenttopic3">2347033731378</h2>

                </div>
                <div class="footer">


                    <div class="socials-wrapper">
                        <div class="share-button">
                            <img src="../assets/share.svg" alt="Share On Socials" />
                        </div>
                        <menu class="socials-menu">
                            <li class="social">
                                <a href="https://twitter.com/Ibrahim4Grace" target="_blank" title="Instagram">
                                    <img src="../assets/instagram.svg" alt="Instagram" />
                                </a>
                            </li>
                            <li class="social">
                                <a href="https://twitter.com/Ibrahim4Grace" target="_blank" title="Twitter">
                                    <img src="../assets/twitter.svg" alt="Twitter" />
                                </a>
                            </li>
                            <li class="social" title="Threads">
                                <a href="https://twitter.com/Ibrahim4Grace" target="_blank" title="Threads">
                                    <img src="../assets/threads.svg" alt="Threads" />
                                </a>
                            </li>
                            <li class="social">
                                <a href="https://twitter.com/Ibrahim4Grace" target="_blank" title="Youtube">
                                    <img src="../assets/youtube.svg" alt="Youtube" />
                                </a>
                            </li>
                        </menu>

                    </div>
                   
                </div>

            </div>

        <script type="text/javascript" src="../js/snow.js"></script>
       
</body>


</html>