<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Korex Hospital</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../font/typicons.css">
    <link rel="stylesheet" href="../css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="icon" href="../img/Createe.jpg">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/users/welcome"><img src="../img/korexlogo.jpg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="/users/welcome"><img src="../img/korexlogo.jpg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <%- include (`../partials/navigationbar`); -%>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include (`../partials/userSidebar`); -%>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0 font-weight-bold"><%= user.name %></h3>
                <p>Your last login: 21h ago from <%= user.address %>.</p>
              </div>
    
            </div>
           

            

     <%- include (`../partials/messages`); -%>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
         <div class="card-body">
           <h4 class="card-title">Appointment Form</h4>
           <p class="card-description">
             Appointment Form
           </p>
           <form class="forms-sample" action="/patientAppointment" method="post">
             <div class="form-group">
               <label for="exampleInputName1">Name</label>
               <input type="text" class="form-control" id="exampleInputName1" name="flname"
               value="<%= user.name %>" readonly/>
             </div>
             <div class="form-group">
               <label for="exampleInputEmail3">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail3" name="email" value="<%= user.email %>" readonly>
             </div>
             <div class="form-group">
               <% let selectDepartment=["Emergency Room Visits", "Surgical Consultations"
               , "Physical Therapy" , "Geriatric Care" , "Chronic Disease Management"
               , "Nutrition and Diet Consultations" , "Vaccination"
               , "Consultations" , "Cardiologists" , "Diagnostic Tests"
               , "Family Physicians" , "Gastroenterologists" , "Medicine Specialists"
               , "Antenatal care","Pregnancy" ,"Others" ] %>

               <label for="exampleSelectGender">Department</label>
               <select class="form-control" id="exampleSelectGender" name="department"
                  value="<%= typeof department != 'undefined' ? department : '' %>">
                 
                      <option value="">Select Department</option>

                     <% selectDepartment.forEach((so)=> { %>
                         <option value="<%- so %>"><%- so %></option>

                         <% }) %>
               </select>
             </div>
             <div class="form-group">
               <label for="exampleInputCity1">Appointment Date</label>
               <input type="date" class="form-control" id="exampleInputCity1" name="date"
               value="<%= typeof date != 'undefined' ? date : '' %>" />
             </div>
             <div class="form-group">
               <label for="exampleTextarea1">Textarea</label>
               <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="Your appointment purpose" maxlength="250"></textarea>
             </div>
             <div class="form-group">
               <label for="exampleInputCity1">Appointment Number</label>
               <input type="text" class="form-control" id="exampleInputCity1" name="number" value="<%= user.number %>" readonly />
             </div>
             <div class="form-group">
               <% let selectDisease=["Fever", "UTI" , "Cancer" , "STD" , "Diabetes" , "Dental"
               , "Malaria" , "Consultations" ,"HIV/AIDS" ,"Pregnancy" , "Others" ] %>

               <label for="exampleSelectGender">Disease</label>
               <select class="form-control" id="exampleSelectGender" name="disease"
                  value="<%= typeof disease != 'undefined' ? disease : '' %>">
                 
                  <option value="">Select Disease</option>

                  <% selectDisease.forEach((so)=> { %>
                      <option value="<%- so %>"><%- so %></option>

                      <% }) %>
               </select>
             </div>
             <button type="submit" class="btn btn-primary mr-2">Submit</button>
             <button class="btn btn-light">Cancel</button>
           </form>
         </div>
    </div>
</div>

        
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © korextech.com 2023</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>

    </div>

    <script src="../js/vendor.bundle.base.js"></script>

    <script src="../js/off-canvas.js"></script>

    <script src="../js/template.js"></script>
   
  </body>
</html>