<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Korex Hospital</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../font/typicons.css">
    <link rel="stylesheet" href="../css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="icon" href="../img/Createe.jpg">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/users/welcome"><img src="../img/korexlogo.jpg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="/users/welcome"><img src="../img/korexlogo.jpg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <%- include (`../partials/navigationbar`); -%>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include (`../partials/userSidebar`); -%>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0 font-weight-bold"><%= user.name %></h3>
                <p>Your last login: 21h ago from <%= user.state %>.</p>
              </div>
    
            </div>
           

            

     <%- include (`../partials/messages`); -%>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
         <div class="card-body">
           <h4 class="card-title">Appointment Form</h4>
           <p class="card-description">
             Appointment Form
           </p>
           <form action="/users/editMyProfilePost" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="exampleInputName1">Patient Name</label>
                   <input type="text" class="form-control" 
                   name="name" value="<%- user.name %>"/>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Patient username</label>
               <input type="text"  class="form-control" 
               name="username" value="<%- user.username %>"/>
            </div>
            
            <div class="form-group">
              <label for="exampleInputEmail3">Patient Email</label>
               <input type="email"  class="form-control" name="email"
               value="<%- user.email %>"/>
            </div>

            <div class="form-group">
                <% let patientGender=["Male", "Female" ] %>

                 <label for="exampleSelectGender">Patient Gender</label>
                <select class="form-control" name="gender">
                    <% patientGender.forEach((gender) => { %>
                        <option value="<%- gender %>"<% if (user.gender === gender) { %> selected<% } %>><%- gender %></option>
                      <% }) %>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleInputCity1">Patient DOB</label>
                  <input type="date" class="form-control" name="dob" 
                  value="<%- user.dob %>"/>

            </div>

            <div class="form-group">
               <label for="exampleInputEmail3">Patient Number</label>
               <input type="text" class="form-control"  name="number" 
               value="<%- user.number %>"/>
            </div>

            <div class="form-group">
                <label for="exampleInputCity1">Patient Address</label>
                  <input type="text" class="form-control"  name="address"
                  value="<%- user.address %>"/>
            </div>

            
            <div class="form-group">
              <label for="exampleInputCity1">Patient City</label>
                <input type="text" class="form-control"  name="city"
                value="<%- user.city %>"/>
            </div>

          
          <div class="form-group">
            <label for="exampleInputCity1">Patient State</label>
              <input type="text" class="form-control"  name="state"
              value="<%- user.state %>"/>
          </div>

            <div class="form-group">
                <label for="exampleInputCity1">Patient Password</label>
                  <input type="password" class="form-control"  name="password"
                  value=""/>
            </div>

            <div class="form-group">
                <label for="exampleInputCity1">Occupation</label>
                  <input type="text" class="form-control"  name="occupation"
                  value="<%- user.occupation %>"/>
            </div>

            <div class="form-group">
                <label for="exampleInputCity1">Upload Image</label>
                <input type="file" class="form-control" name="image" accept="image/*">
            </div>
            <input type="hidden" name="existingImage" value="<%- JSON.stringify(user.image || {}) %>">
            
            <div class="form-group">
                <label>Current Image</label>
                <div>
                    <% if (user.image && user.image.data) { %>
                        <img class="editImage" src="data:<%= user.image.contentType %>;base64,<%= user.image.data.toString('base64') %>" alt="User Image">
                    <% } else { %>
                        No image to display
                    <% } %>
                </div>
            </div>
           
            <div class="form-group">
                <label for="exampleInputCity1">Patient Blood Group:</label>
                  <input type="text" class="form-control" name="bloodGroup"
                  value="<%- user.bloodGroup %>"/>
            </div>
         
         <button type="submit" class="btn btn-primary mr-2">Submit</button>
         <button class="btn btn-light">Cancel</button>
       </form>
         </div>
    </div>
</div>

        
          </div>
          <!-- content-wrapper ends -->
         <!-- partials/_footer -->
         <%- include (`../partials/userFooter`); -%>
         <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>

    </div>
   
  </body>
</html>