<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Korex Hospital</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../font/typicons.css">
    <link rel="stylesheet" href="../../css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vertical-layout-light/style.css">
    <link rel="icon" href="../../img/Createe.jpg">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/users/welcome"><img src="../../img/korexlogo.jpg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="/users/welcome"><img src="../../img/korexlogo.jpg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <%- include (`../partials/navigationbar`); -%>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include (`../partials/userSidebar`); -%>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
                <div class="row">
                  <div class="col-sm-6">
                    <h3 class="mb-0 font-weight-bold"><%= user.name %></h3>
                    <p>Your last login: 21h ago from <%= user.address %>.</p>
                  </div>
    
                </div>

                
                <div class="main-aside">     
             
                    <div class="userProfile">

                        
                        <div class="boxx">

                            <p class="card-text"><strong>Diagnose:</strong><br><%= medicalRecord.diagnosis %></p>
                            <p class="card-text"><strong>Treatment:</strong><br> <%= medicalRecord.treatment %></p>
                            <p class="card-text"><strong>Date:</strong><br> <%= medicalRecord.date %></p>
                           
                           
                        </div>
                           
        
                            
                </div>
             

                </div>
               

         </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © korextech.com 2023</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  
    <script src="../../js/vendor.bundle.base.js"></script>

    <script src="../../js/off-canvas.js"></script>

    <script src="../../js/template.js"></script>
 

  </body>
</html>