<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Korex Hospital</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../font/typicons.css">
    <link rel="stylesheet" href="../../css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="icon" href="../../img/Createe.jpg">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/backend/dashboard"><img src="../../img/korexlogo.jpg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="/backend/dashboard"><img src="../../img/korexlogo.jpg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <%- include ('../partials/adminNav'); -%>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('../partials/adminSidebar'); -%>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

              
                <%- include (`../partials/messages`); -%>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                         <div class="card-body">
                           <h4 class="card-title">Edit Patient Appointment Details</h4>
                           
                           <form class="forms-sample" action="/appoint-edit/<%- appointment._id %>" method="post">

                             <div class="form-group">
                               <label for="exampleInputName1">Patient Name</label>
                               <input type="text" class="form-control" id="exampleInputName1" name="flname"
                               value="<%-  appointment.flname %>"/>
                             </div>

                             <div class="form-group">
                               <label for="exampleInputEmail3">Email</label>
                               <input type="email" class="form-control" id="exampleInputEmail3" name="email" 
                               value="<%- appointment.email %>"/>
                             </div>

                             <div class="form-group">
                                <% let selectDepartment=["Emergency Room Visits", "Surgical Consultations"
                                , "Physical Therapy" , "Geriatric Care" , "Chronic Disease Management"
                                , "Nutrition and Diet Consultations" , "Vaccination"
                                , "Doctor Consultations" , "Cardiologists" , "Diagnostic Tests"
                                , "Family Physicians" , "Gastroenterologists" , "Medicine Specialists"
                                , "Antenatal care" ,"Others" ] %>
                                <label for="exampleSelectGender">Select Department</label>
                                <select class="form-control"  name="department">
                                  <% selectDepartment.forEach((department) => { %>
                                    <option value="<%- department %>"<% if (appointment.department === department) { %> selected<% } %>><%- department %></option>
                                  <% }) %>
                                </select>
                              </div>


                             <div class="form-group">
                                <label for="exampleInputEmail3">Appointment Date</label>
                                <input type="date" class="form-control" id="exampleInputEmail3" name="date" 
                                value="<%- appointment.date %>"/>
                             </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">New Appointment Date</label>
                                <input type="date" class="form-control" id="exampleInputCity1" name="newDate"
                                value="<%- appointment.newDate %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Patient Number</label>
                                <input type="text" class="form-control" id="exampleInputCity1" name="number"
                                value="<%- appointment.number %>" />
                              </div>

                              <div class="form-group">
                                <% let selectDisease=["Fever", "UTI" , "Cancer" , "STD" , "Diabetes" , "Dental"
                                            , "Malaria" , "Consultations" ,"HIV/AIDS" ,"Pregnancy" , "Others" ] %>
                                            
                                <label for="exampleSelectGender">Selected Disease</label>
                                <select class="form-control" id="exampleSelectGender" name="disease">
                                  <% selectDisease.forEach((disease) => { %>
                                    <option value="<%- disease %>"<% if (appointment.disease === disease) { %> selected<% } %>><%- disease %></option>
                                  <% }) %>
                                </select>
                              </div>
                            
                              <div class="form-group">
                                <label for="exampleInputCity1">Appointment Purpose</label>
                                <textarea class="form-control" name="textarea" style="width:100%;height:150px;"
                                maxlength="250" value="<%- appointment.textarea %>"><%-
                                appointment.textarea %></textarea>
                              </div>
                            
                            
                             
                             <button type="submit" class="btn btn-primary mr-2">Submit</button>
                             <button class="btn btn-light">Cancel</button>
                           </form>
                         </div>
                    </div>
                </div>


                  
          
                

              
            

        
         </div>
    
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © korextech.com 2023</span>
            </div>
          </footer>

        </div>
   
      </div>
 
    </div>

    <script src="../../js/vendor.bundle.base.js"></script>
  
    <script src="../../js/off-canvas.js"></script>

    <script src="../../js/template.js"></script>
  
  
 

 

  </body>
</html>