<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Korex Hospital</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../font/typicons.css">
    <link rel="stylesheet" href="../css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="icon" href="../img/Createe.jpg">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/backend/dashboard"><img src="../img/korexlogo.jpg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="/backend/dashboard"><img src="../img/korexlogo.jpg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <%- include ('../partials/adminNav'); -%>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('../partials/adminSidebar'); -%>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

              
                <%- include (`../partials/messages`); -%>

              


                  
          
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Patient Appointment List</h4>


                      <div class="houseSearch">
                        <form action="/searchAppointment" method="post">
                            <input class="houseSearch" type="text" name="flname" placeholder="Search patient name...">
                            
                        </form>
                       
                      </div>
                      
                      <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                                <th>Patient Name</th>
                         
                                <th>Department</th>
                                <th>Appointment Date</th>
                                <th>Appointment New Date</th>
                                <th>Patient Number</th>
                                <th>Purpose</th>
                                <th>Disease</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                         </thead>
                         <tbody>

                            <% patientAppointment.forEach(appointment=> { %>
                                <tr>
                                    <td>
                                        <%= appointment.flname %>
                                    </td>
                                    <td>
                                        <%= appointment.department %>
                                    </td>
                                    <td>
                                        <%= appointment.date %>
                                    </td>
                                    <td>
                                        <%= appointment.newDate %>
                                    </td>
                                    <td>
                                        <%= appointment.number %>
                                    </td>
                                    <td data-label="patient_profile">
                                         <a href="/backend/viewAppoint/<%- appointment._id %>">View
                                          <i class="typcn typcn-eye-outline" ></i>
                                         </a>
                                    </td>

                                    <td>
                                        <% if (appointment.disease==='Fever' ) { %>
                                            <button
                                                style="color: #c0696a; border-radius: 5px; border: none; background-color: #fcd5d4;">
                                                <%= appointment.disease %>
                                            </button>
                                            <% } else if (appointment.disease==='Cancer' ) { %>
                                                <button
                                                    style="color: #dbdbdb; border-radius: 5px;border: none; background-color: #7d7d7b;">
                                                    <%= appointment.disease %>
                                                </button>
                                                <% } else if (appointment.disease==='Dental' ) { %>
                                                    <button
                                                        style="color: #5ea277; border-radius: 5px; border: none; background-color: #bbf7d1;">
                                                        <%= appointment.disease %>
                                                    </button>
                                                    <% }else if (appointment.disease==='UTI' ) { %>
                                                        <button style=" color: #7d7d7b; border-radius:
                                                        5px; border:none; background-color: #dbdbdb;">
                                                            <%=appointment.disease %>
                                                        </button>
      
                                                        <% }else if(appointment.disease==='Pregnancy' ){ %>
                                                            <button style=" color: #6583c6; border-radius:
                                                            5px;  border: none; background-color: #bedcfe;">
                                                                <%= appointment.disease %>
                                                            </button>
      
                                                            <% }else if(appointment.disease==='Malaria' ){
                                                                %>
                                                                <button
                                                                    style="color: #c0696a; border-radius: 5px;  border: none; background-color: #fcd5d4;">
                                                                    <%= appointment.disease %>
                                                                </button>
      
                                                                <% } else { %>
                                                                    <button
                                                                        style="color: white; border-radius: 5px;  border: none; background-color: #6f6d92;">
                                                                        <%= appointment.disease %>
                                                                    </button>
      
                                                                    <% } %>
                                    </td>



                                    <td data-label="Edit">
                                      <a href="/backend/appoint-edit/<%- appointment._id %>">
                                        <i class="typcn typcn-pencil menu-icon" style="color: black;"></i>
                                      </a>
                                    </td>
                                    <td data-label="Delete">
                                      <a href="/appoint_delete/<%- appointment._id %>">
                                            <i class="typcn typcn-trash menu-icon" style="color: black;"></i>
                                      </a>
                                    </td>


                                </tr>
                                <% }); %>

                        </tbody>
                        </table>
                        <div class="pagination">
                          <% for (let i=1; i <=totalPages; i++) { %>
                              <a href="/backend/patient-appoint?page=<%= i %>"
                                  class="<%= currentPage === i ? 'active' : '' %>">
                                  <%= i %>
                              </a>
                              <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
         </div>
    
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © korextech.com 2023</span>
            </div>
          </footer>

        </div>
 
      </div>

    </div>

    <script src="../js/vendor.bundle.base.js"></script>
  
    <script src="../js/off-canvas.js"></script>

    <script src="../js/template.js"></script>
  
  
 

 

  </body>
</html>