<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Korex Hospital</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../font/typicons.css">
    <link rel="stylesheet" href="../../css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="icon" href="../../img/Createe.jpg">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/backend/dashboard"><img src="../../img/korexlogo.jpg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="/backend/dashboard"><img src="../../img/korexlogo.jpg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <%- include ('../partials/adminNav'); -%>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('../partials/adminSidebar'); -%>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

              
                <%- include (`../partials/messages`); -%>

              


                  
          
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Patient Profile</h4>

                        <ul class="v">
                            <li><strong>Patient Image</strong></li>
                            <p>
                              <% if (ourPatient.image && ourPatient.image.data) { %>
                                  <img class="imgSize" src="data:<%= ourPatient.image.contentType %>;base64,<%= ourPatient.image.data.toString('base64') %>" alt="User Image">
                              <% } else { %>
                                  Patient is yet to have image
                              <% } %>
                          </p>
                            <li><strong>Patient ID</strong></li>
                            <p>
                                <%=ourPatient.patientID%>
                            </p>
                            <li><strong>Patient Name</strong></li>
                            <p>
                                <%=ourPatient.name%>
                            </p>
                            <li><strong>Patient Username</strong></li>
                            <p>
                                <%=ourPatient.username%>
                            </p>
                            <li><strong>Patient Email</strong></li>
                            <p>
                                <%=ourPatient.email%>
                            </p>
                            <li><strong>Gender</strong></li>
                            <p>
                                <%=ourPatient.gender%>
                            </p>
                            <li><strong>Patient DOB</strong></li>
                            <p>
                                <%=ourPatient.dob%>
                            </p>
                            <li><strong>Phone Number</strong></li>
                            <p>
                                <%=ourPatient.number%>
                            </p>
                            <li><strong>Patient Address</strong></li>
                            <p>
                                <%=ourPatient.address%>
                            </p>
                            <li><strong>Patient City</strong></li>
                            <p>
                                <%=ourPatient.city%>
                            </p>
                            <li><strong>Patient State</strong></li>
                            <p>
                                <%=ourPatient.state%>
                            </p>
                            <li><strong>Occupation</strong></li>
                            <p>
                                <%=ourPatient.occupation%>
                            </p>
                            <li><strong>Blood Group</strong></li>
                            <p>
                                <%=ourPatient.bloodGroup%>
                            </p>
                            <li><strong>Genotype</strong></li>
                            <p>
                                <%=ourPatient.genotype%>
                            </p>
                            <li><strong>Diagnosis</strong></li>
                            <p>
                                <%=ourPatient.diagnosis%>
                            </p>
                            <li><strong>Treatment</strong></li>
                            <p>
                                <%=ourPatient.treatment%>
                            </p>
                            <li><strong>Registered Date</strong></li>
                            <p>
                                <%=ourPatient.date%>
                            </p>

                        </ul>
                      
                       
                    </div>

                    <div class="main-aside">
                      <div class="profile">
                        <%if (medicalRecords.length> 0) {%>
                          <% medicalRecords.forEach((medicalRecord)=>{ %>
                          <!-- outputing result with id -->

                              <p class="card-text"><strong>Diagnose:</strong><br><%= medicalRecord.diagnosis %></p>
                              <p class="card-text"><strong>Treatment:</strong><br> <%= medicalRecord.treatment %></p>
                              <p class="card-text"><strong>Date:</strong><br> <%= medicalRecord.date %></p>

                              <hr>
                             
                            
                          <% })%>
                        <% } else {%>
                            <h2 style="font-size:16px;"><%- "Patient is yet to have medical record with us" %></h2>

                        <%}%>
                      </div>
                    </div>
                </div>
        
            </div>
   
            <%- include (`../partials/adminFooter`); -%>

        </div>

      </div>

    </div>




  </body>
</html>